.l-globalbar {
  &--fixed {
    position: fixed;
    // display: flex;
    // opacity: 0.8;
    z-index: 10;
    width: 100%;
    &-top {
    }
  }

  @include respond-to('large') {
    //flex-direction: column;
  }
}
