.l-app {
  display: grid;

  &--dense {
    grid-auto-flow: row dense;
  }

  // grid-template-rows: repeat(auto-fit, minmax(0, 1fr));

  &--config-1 {
    grid-template-columns:
      [screen-start]
      1fr
      [screen-end];

    // > .l-globalbar {
    //   grid-column: screen-start / screen-end;
    // }

    > .l-header {
      grid-column: screen-start / screen-end;
      //grid-row: 1 / 2;
    }

    > .l-main {
      grid-column: screen-start / screen-end;
      display: grid;
      grid-template-columns: [main-start] 1fr [main-end];
    }

    > .l-footer {
      grid-column: screen-start / screen-end;
    }
  }

  &--config-2 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start sidebar-start]
        minmax($globalbar-width, max-content)
        [sidebar-end]
        1fr
        [screen-end ];

      > .l-bar {
        grid-column: sidebar-start / sidebar-end;
      }

      > .l-header {
        grid-column: sidebar-end / screen-end;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: sidebar-end / screen-end;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: sidebar-end / screen-end;
      }
    }
  }

  &--config-3 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start]
        1fr
        [sidebar-start]
        minmax($globalbar-width, max-content)
        [screen-end sidebar-end];

      > .l-bar {
        grid-column: sidebar-start / sidebar-end;
      }

      > .l-header {
        grid-column: screen-start / sidebar-start;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: screen-start / sidebar-start;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: screen-start / sidebar-start;
      }
    }
  }

  &--config-4 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start sidebar-left-start]
        minmax($globalbar-width, max-content)
        [sidebar-left-end]
        1fr
        [sidebar-right-start]
        minmax($globalbar-width, max-content)
        [screen-end sidebar-right-end];

      > .l-bar--left {
        grid-column: sidebar-left-start / sidebar-left-end;
      }

      > .l-bar--right {
        grid-column: sidebar-right-start / sidebar-right-end;
      }

      > .l-header {
        grid-column: sidebar-left-end / sidebar-right-start;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: sidebar-left-end / sidebar-right-start;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: sidebar-left-end / sidebar-right-start;
      }
    }
  }

  &--config-5 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start sidebar-start]
        minmax($globalbar-width, max-content)
        [sidebar-end]
        1fr
        [screen-end];

      > .l-bar {
        grid-column: sidebar-start / sidebar-end;
      }

      > .l-header {
        grid-column: screen-start / screen-end;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: sidebar-end / screen-end;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: sidebar-end / screen-end;
      }
    }
  }

  &--config-6 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start sidebar-left-start]
        minmax($globalbar-width, max-content)
        [sidebar-left-end]
        1fr
        [sidebar-right-start]
        minmax($globalbar-width, max-content)
        [screen-end sidebar-right-end];

      > .l-bar--left {
        grid-column: sidebar-left-start / sidebar-left-end;
      }

      > .l-bar--right {
        grid-column: sidebar-right-start / sidebar-right-end;
      }

      > .l-header {
        grid-column: screen-start / screen-end;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: sidebar-left-end / sidebar-right-start;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: sidebar-left-end / sidebar-right-start;
      }
    }
  }

  &--config-7 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start]
        1fr
        [sidebar-start]
        minmax($globalbar-width, max-content)
        [screen-end sidebar-end];

      > .l-bar {
        grid-column: sidebar-start / sidebar-end;
      }

      > .l-header {
        grid-column: screen-start / screen-end;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: screen-start / sidebar-start;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: screen-start / sidebar-start;
      }
    }
  }

  &--config-8 {
    @include respond-to('large') {
      grid-template-columns:
        [screen-start]
        1fr
        [sidebar-start]
        minmax($globalbar-width, max-content)
        [screen-end sidebar-end];

      > .l-bar {
        grid-column: sidebar-start / sidebar-end;
      }

      > .l-header {
        grid-column: screen-start / screen-end;
        grid-row: 1 / 2;
      }

      > .l-main {
        grid-column: screen-start / sidebar-start;
        display: grid;
        grid-template-columns: [main-start] 1fr [main-end];
      }

      > .l-footer {
        grid-column: screen-start / screen-end;
      }
    }
  }
}

.grid {
  // display: grid;
  // grid-template-columns:
  //   [screen-start]
  //   minmax($content-margin, 1fr)
  //   [content-start]
  //   repeat(12, [col-start] minmax(min-content, 14rem) [col-end])
  //   [content-end]
  //   minmax($content-margin, 1fr)
  //   [screen-end];

  /* 12 col content grid */
  // &-sb {
  //   &--12 {
  //     grid-template-rows: $sidebar-height calc(100vh - #{$sidebar-height});
  //   }
  // }

  // &--12 {
  //   grid-template-rows: auto;
  // }

  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // grid-template-columns:
  //   [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
  //     8,
  //     [col-start] minmax(min-content, 14rem) [col-end]
  //   )
  //   [center-end] minmax(6rem, 1fr) [full-end]; // 1140 / 8

  // @media only screen and (max-width: $bp-large) {
  //   grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //   grid-template-columns:
  //     [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
  //     [center-end] minmax(6rem, 1fr) [full-end]; // 1140 / 8
  // }

  // @media only screen and (max-width: $bp-medium) {
  //   grid-template-rows: 6rem calc(100vh - 6rem);
  // }
}

.grid-af {
  display: grid;
  &--12 {
    // grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

    grid-template-columns:
      [screen-start]
      minmax($content-margin, 1fr)
      [content-start]
      minmax(max-content, 1fr)
      [content-end]
      minmax($content-margin, 1fr)
      [screen-end];
    grid-gap: 1rem;
  }
}
