.l-nav-burger {
  @include respond-to('large') {
    display: none !important;
  }
}

.l-nav {
  height: $navbar-height;

  &--transparent {
    @include transparent;
  }

  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
  }
}
