.card {
  position: relative;
  min-width: 30rem;
  height: auto;
  // @include size(100%, auto);
  overflow: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
  perspective: 150rem;

  &--vertical {
    .card__side {
      flex-direction: column;
    }

    .card__actions {
      flex-direction: row;
      align-self: stretch;
    }
  }

  &--horizontal {
    .card__side {
      flex-direction: column;
      @include respond-to('large') {
        flex-direction: row;
      }
    }

    .card__actions {
      flex-direction: row;

      align-self: stretch;

      @include respond-to('large') {
        flex-direction: column;
      }
    }
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.8s ease;

    &--front {
      // Default background-color
      //background-color: color('white');
    }

    &--back {
      @include respond-to('large') {
        transform: rotateY(0);
        // Rotate to hide back
        // transform: rotateY(180deg);
      }
    }
  }

  &:hover &__side--front {
    @include respond-to('large') {
      transform: rotateY(0);
      // Rotate to show back
      // transform: rotateY(-180deg);
    }
  }

  &:hover &__side--back {
    @include respond-to('large') {
      transform: rotateY(0);
    }
  }

  &__title {
    width: 100%;
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &__picture {
    background-size: cover;
    height: 30%;
    //height: 23rem;
    // background-blend-mode: screen;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // border-top-left-radius: $border-radius;
    // border-top-right-radius: $border-radius;
  }

  &__actions {
    display: flex;

    & > * {
      flex-grow: 1;
    }
  }
}
