.card {
  position: relative;
  min-width: 30rem;
  height: auto;
  // @include size(100%, auto);
  transition: all 0.5s;
  transform-style: preserve-3d;
  perspective: 150rem;

  &--vertical {
    .card__side {
      flex-direction: column;
    }

    .card__actions {
      flex-direction: row;
      align-self: stretch;
    }
  }

  &--horizontal {
    .card__side {
      flex-direction: column;
      @include respond-to('large') {
        flex-direction: row;
      }
    }

    .card__actions {
      flex-direction: row;

      align-self: stretch;

      @include respond-to('large') {
        flex-direction: column;
      }
    }
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include size(100%, 100%);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.8s ease;
  }

  &--flip {
    .card__side {
      &--back {
        @include respond-to('large') {
          //Rotate to hide back
          transform: rotateY(180deg);
        }
      }
    }

    &:hover .card__side--front {
      @include respond-to('large') {
        //transform: rotateY(0);
        // Rotate to show back
        transform: rotateY(-180deg);
      }
    }

    &:hover .card__side--back {
      @include respond-to('large') {
        transform: rotateY(0);
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
  }

  .card__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    @include flex-center;
  }

  .card__title {
    font-weight: 300;
    text-transform: uppercase;
  }

  .card__body {
    .list {
      padding: 3rem;
      list-style: none;
      margin: 0 auto;

      .list-item {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid color('grey-light-2');
        }
      }
    }
  }

  &__picture {
    background-size: cover;
    background-position: center;
    height: 30%;
    flex-grow: 1;
    //height: 23rem;
    // background-blend-mode: screen;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // border-top-left-radius: $border-radius;
    // border-top-right-radius: $border-radius;
  }

  &__actions {
    display: flex;
    align-self: stretch;

    & > * {
      flex-grow: 1;
    }
  }

  &__footer {
    .title {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;

      &::before,
      &::after {
        content: '';
        height: 1px;
        display: block;
        background-color: color('grey-light-2');
      }
    }

    .icon-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .image-link {
        display: block;
        width: 15%;
      }
    }
  }
}
