/* Hover transition */

.m-an-hv-sc-1:hover {
  //transform: scale($scale-1);
}

/* Animation classes */

@each $suffix, $timing in $durations {
  .m-an-dr-#{$suffix} {
    animation-duration: $timing;
  }
}

@each $suffix, $delay in $delays {
  .m-an-dl-#{$suffix} {
    animation-delay: $delay;
  }
}

.m-an-fw {
  animation-fill-mode: forwards;
}

.m-an-bw {
  animation-fill-mode: backwards;
}

/* ANIMATIONS */
.m-an-movein {
  &-l {
    animation-name: moveInLeft;
  }

  &-r {
    animation-name: moveInRight;
  }
}

.m-an-scalein {
  &-x {
    animation-name: scaleInX;
  }
}

.m-an-bouncein {
  &-t {
    animation-name: bounceInTop;
  }
}
