@each $theme in $themes {
  $color: $theme;
  $color-light: $theme + '-light';
  $color-dark: $theme + '-dark';

  .m-bg-#{$theme} {
    background-color: color($color);
  }

  .m-bg-gd-#{$theme} {
    &--t {
      background: gradient-linear(to top, color($color-light), color($color-dark));
    }

    &--b {
      background: gradient-linear(to bottom, color($color-light), color($color-dark));
    }

    &--l {
      background: gradient-linear(to left, color($color-light), color($color-dark));
    }

    &--lt {
      background: gradient-linear(to left top, color($color-light), color($color-dark));
    }

    &--lb {
      background: gradient-linear(to left bottom, color($color-light), color($color-dark));
    }

    &--rt {
      background: gradient-linear(to right top, color($color-light), color($color-dark));
    }

    &--rb {
      background: gradient-linear(to right bottom, color($color-light), color($color-dark));
    }
  }
}

.m-bg-white {
  background-color: color('white');
}
