.m-op-0 {
  opacity: 0;
}

.m-op-1 {
  opacity: 1;
}

.m-dp-no {
  display: none;
}

@each $name, $value in $breakpoints {
  @if ($name != 'zero') {
    .m-dp-no-#{$name} {
      @include respond-to('zero', $name) {
        display: none;
      }
    }
  }
}
