@each $suffix, $size in $sizes {
  .m-mg-#{$suffix} {
    margin: $size;

    &--l {
      margin-left: $size;
    }

    &--r {
      margin-right: $size;
    }

    &--t {
      margin-top: $size;
    }

    &--b {
      margin-bottom: $size;
    }

    &--v {
      margin: $size 0;
    }

    &--h {
      margin: 0 $size;
    }
  }
}
