@each $suffix, $size in $sizes {
  .m-margin-#{$suffix} {
    margin: $size;

    &--left {
      margin-left: $size;
    }

    &--right {
      margin-right: $size;
    }

    &--top {
      margin-top: $size;
    }

    &--bottom {
      margin-bottom: $size;
    }

    &--vert {
      margin: $size 0;
    }

    &--hori {
      margin: 0 $size;
    }
  }
}
