@each $suffix, $size in $sizes {
  .m-pd-#{$suffix} {
    padding: $size;

    &--l {
      padding-left: $size;
    }

    &--r {
      padding-right: $size;
    }

    &--t {
      padding-top: $size;
    }

    &--b {
      padding-bottom: $size;
    }

    &--v {
      padding: $size 0;
    }

    &--h {
      padding: 0 $size;
    }
  }
}
