.m-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-flex-center {
  @include flex-center;
}

.m-flex-column-center {
  @include flex-center;
  flex-direction: column;
}
