.m-ab--c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-fx--c {
  @include flex-center;
}

.m-fx--sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m-fx--sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-al--st {
  align-self: start;
}

.m-fx-cl--c {
  @include flex-center;
  flex-direction: column;
}

.m-jc-en {
  justify-content: flex-end;
}

.m-tx--c {
  text-align: center;
}

.m-tx--l {
  text-align: left;
}

.m-tx--r {
  text-align: right;
}
