$div-value: 2;

// @for $i from 1 through length($sizes) {
//   $key: index-to-key($sizes, $i);
//   $size: size($key) / $div-value;

@each $suffix, $size in $sizes {
  $size: $size / $div-value;

  .m-radius-#{$suffix} {
    border-radius: $size;

    &--left {
      border-top-left-radius: $size;
      border-bottom-left-radius: $size;
    }

    &--right {
      border-top-right-radius: $size;
      border-bottom-right-radius: $size;
    }

    &--bottom {
      border-bottom-left-radius: $size;
      border-bottom-right-radius: $size;
    }

    &--top {
      border-top-left-radius: $size;
      border-top-right-radius: $size;
    }
  }
}

.m-r10 {
  border-radius: 180286px;

  &--left {
    border-top-left-radius: 180286px;
    border-bottom-left-radius: 180286px;
  }

  &--right {
    border-top-right-radius: 180286px;
    border-bottom-right-radius: 180286px;
  }

  &--bottom {
    border-bottom-left-radius: 180286px;
    border-bottom-right-radius: 180286px;
  }

  &--top {
    border-top-left-radius: 180286px;
    border-top-right-radius: 180286px;
  }
}
