.m {
  &-sw-ty {
    &--dk {
      box-shadow: $shadow-dark-tiny;
    }

    &--lt {
      box-shadow: $shadow-light-tiny;
    }
  }

  &-sw-sm {
    &--dk {
      box-shadow: $shadow-dark-small;
    }

    &--lt {
      box-shadow: $shadow-light-small;
    }
  }

  &-sw-md {
    &--dk {
      box-shadow: $shadow-dark-medium;
    }

    &--lt {
      box-shadow: $shadow-light-medium;
    }
  }

  &-sw-bg {
    &--dk {
      box-shadow: $shadow-dark-big;
    }

    &--lt {
      box-shadow: $shadow-light-big;
    }
  }

  &-sw-hg {
    &--dk {
      box-shadow: $shadow-dark-huge;
    }

    &--lt {
      box-shadow: $shadow-light-huge;
    }
  }
}
