.m-tn-pp-none {
  transition-property: none;
}

.m-tn-pp-all {
  transition-property: all;
}

.m-tn-pp-op {
  transition-property: opacity;
}

.m-tn-pp-tf {
  transition-property: transform;
}

.m-tn-pp-fs {
  transition-property: font-size;
}

@each $suffix, $duration in $durations {
  .m-tn-dr-#{$suffix} {
    transition-duration: $duration;
  }
}

@each $suffix, $delay in $delays {
  .m-tn-dl-#{$suffix} {
    transition-delay: $delay;
  }
}
