$origins: (
  'l': left,
  'r': right,
  'c': center,
  't': top,
  'b': bottom,
  'tl': top left,
  'tr': top right,
  'bl': bottom left,
  'br': bottom right,
);

@each $suffix, $origin in $origins {
  .m-og--#{$suffix} {
    transform-origin: $origin;
  }
}

.m-sc-x--0 {
  transform: scaleX(0);
}

.m-sc-x--1 {
  transform: scaleX(1);
}
