
@each $suffix, $origin in $origins {
  .m-og--#{$suffix} {
    transform-origin: $origin;
  }
}

.m {
  @each $suffixA, $valueA in $transforms {

    &#{$suffixA} {

      @each $suffixB, $valueB in $valueA {
          
          &#{$suffixB} {

            @each $suffixC, $valueC in $valueB {

              @if (type-of($valueC) != 'map') {
                &#{$suffixC} {

                  transform: #{$valueC};
                }
              } @else {

                &#{$suffixC} {

                  @each $suffixD, $valueD in $valueC {
                  
                    &#{$suffixD}{
                      transform: #{$valueD};
                    }

                  }

                }

               
              }
            
            } 
        }
      }
    }
  }
}