.box {
  display: flex;
  position: relative;

  &.box--vert {
    flex-direction: column;
  }

  &__image {
    position: absolute;
    overflow: hidden;

    &--shift-top {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--shift-bottom {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    &--shift-left {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }

    &--shift-right {
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  &__title {
  }

  &__content {
  }
}
