.icon {
  // height: 2rem;
  // width: 2rem;
  color: currentColor;
  fill: currentColor;

  @each $theme in $themes {
    $color: $theme;
    $color-light: $theme + '-light';
    $color-dark: $theme + '-dark';
    $font-color: 'font-' + $theme;
    $font-color-light: 'font-' + $theme + '-light';
    $font-color-dark: 'font-' + $theme + '-dark';

    &.m-#{$theme} {
      background-color: transparent;
      color: color($color);
      fill: color($color);
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .image-link {
      display: block;
      width: 8%;
    }
  }
}

.svg-icon {
  height: 100%;
  width: 100%;
}
