.table {
  display: block;

  @include respond-to('large') {
    display: flex;
    flex-wrap: wrap;
  }

  > .table__cell {
    @include respond-to('large') {
      flex-grow: 1;

      &--head {
        order: 0;
      }
    }
  }
}
