.o-op-0 {
  opacity: 0 !important;
}

.o-op-1 {
  opacity: 1 !important;
}

.o-dp-no {
  display: none !important;
}

.o-dp-bk {
  display: block !important;
}

.o-vs-ve {
  visibility: visible !important;
}

.o-vs-hn {
  visibility: hidden !important;
}
