@each $suffix, $size in $sizes {
  .o-fs-#{$suffix} {
    font-size: $size !important;
  }

  .o-ls-#{$suffix} {
    letter-spacing: $size !important;
  }
}

.o-tx-c {
  text-align: center !important;
}

.o-tx-l {
  text-align: left !important;
}

.o-tx-r {
  text-align: right !important;
}

.o-tx-j {
  text-align: justify !important;
}

.o-tx-up {
  text-transform: uppercase !important;
}

.o-tx-lw {
  text-transform: lowercase !important;
}
