.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    //text-transform: uppercase;
    //padding: size('ty') size('sm');
    @include flex-center;
    transition: all $transition-duration;
    z-index: 1;
  }

  &__text {
    padding-left: 1rem;
  }

  &--e1 {
    &:hover {
      transform: translateY($translate-y-1);
      box-shadow: $shadow-dark-small;
    }

    &:active,
    &focus {
      transform: translateY($translate-y-1 / 2);
      box-shadow: $shadow-dark-tiny;
    }
  }

  &--e2 {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all $transition-duration;
      z-index: -1;
    }

    &:hover {
      transform: translateY($translate-y-1);
      box-shadow: $shadow-dark-small;

      &::after {
        transform: scaleX($scale-4) scaleY($scale-6);
        opacity: 0;
      }
    }

    &:active,
    &focus {
      /* Click state */
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: $shadow-dark-tiny;
    }
  }

  &--e3 {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: 400%;
      transform: scale($scale-1);
      opacity: 0;
      transition: all $transition-duration;
      z-index: -1;
    }

    &:hover {
      animation: bg-position 6s linear infinite;

      &::before {
        filter: blur(20px);
        opacity: 1;
        animation: bg-position 6s linear infinite;
      }
    }
  }

  @each $theme in $themes {
    $color: $theme;
    $color-light: $theme + '-light';
    $color-dark: $theme + '-dark';
    $font-color: 'font-' + $theme;
    $font-color-light: 'font-' + $theme + '-light';
    $font-color-dark: 'font-' + $theme + '-dark';

    &.m-#{$theme} {
      &:hover {
        background-color: color($color-dark);
        color: 'font-' + $theme + '-dark';
      }

      &::after {
        background-color: color($color);
      }
    }
  }
  // &.m-primary {
  //   &.btn--e3 {
  //     background: $gd-prim-multi-r;

  //     &::before {
  //       background: $gd-prim-multi-r;
  //     }
  //   }

  //   &:hover {
  //     background-color: color('primary-dark');
  //   }

  //   &::after {
  //     background-color: color('primary');
  //   }
  // }

  // &.m-secondary {
  //   &.btn--e3 {
  //     background: $gd-sec-multi-r;

  //     &::before {
  //       background: $gd-sec-multi-r;
  //     }
  //   }

  //   &:hover {
  //     background-color: color('secondary-dark');
  //   }

  //   &::after {
  //     background-color: color('secondary');
  //   }
  // }

  // &.m-tertiary {
  //   &.btn--e3 {
  //     background: $gd-tert-multi-r;

  //     &::before {
  //       background: $gd-tert-multi-r;
  //     }
  //   }

  //   &:hover {
  //     background-color: color('tertiary-dark');
  //   }

  //   &::after {
  //     background-color: color('tertiary');
  //   }
  // }
}
