.btn--r1 {
  border-radius: size('xt');

  &.btn--e2 {
    &::after {
      border-radius: size('xt');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('xt');
    }
  }
}

.btn--r2 {
  border-radius: size('ty');

  &.btn--e2 {
    &::after {
      border-radius: size('ty');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('ty');
    }
  }
}

.btn--r3 {
  border-radius: size('xs');

  &.btn--e2 {
    &::after {
      border-radius: size('xs');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('xs');
    }
  }
}

.btn--r4 {
  border-radius: size('sm');

  &.btn--e2 {
    &::after {
      border-radius: size('sm');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('sm');
    }
  }
}

.btn--r5 {
  border-radius: size('md');

  &.btn--e2 {
    &::after {
      border-radius: size('md');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('md');
    }
  }
}

.btn--r6 {
  border-radius: size('lg');

  &.btn--e2 {
    &::after {
      border-radius: size('lg');
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: size('lg');
    }
  }
}

.btn--r7 {
  border-radius: size('xl');
}

.btn--r8 {
  border-radius: size('hg');
}

.btn--r9 {
  border-radius: size('xh');
}

.btn--r10 {
  border-radius: 180286px;

  &.btn--e2 {
    &::after {
      border-radius: 180286px;
    }
  }

  &.btn--e3 {
    background-size: 400%;

    &::before {
      border-radius: 180286px;
    }
  }
}
