.u-bg-transparent {
  background-color: transparent !important;
}

/* Width */

.u-w-100 {
  width: 100%;
}

/* Height */

.u-h-md {
  height: 8rem !important;
}

.u-h-50 {
  height: 50%;
}

/* Grid */
.u-row-span-2 {
  grid-row: span 2;
}

.u-row-span-3 {
  grid-row: span 3;
}

/* TEXT  */

.u-tc {
  text-align: center !important;
}

.u-tl {
  text-align: left !important;
}

.u-tr {
  text-align: right !important;
}

/* PADDING */
.u-ph-md {
  padding: 0 size('md') !important;
}

.u-pv-md {
  padding: size('md') 0 !important;
}

/* MARGIN RIGHT */
.u-mr-xs {
  margin-right: size('xs') !important;
}

.u-mr-sm {
  margin-right: size('sm') !important;
}

.u-mr-md {
  margin-right: size('md') !important;
}

/* MARGIN BOTTOM */

.u-mb-xs {
  margin-bottom: size('xs') !important;
}

.u-mb-sm {
  margin-bottom: size('sm') !important;
}

.u-mb-md {
  margin-bottom: size('md') !important;
}

.u-mb-b {
  margin-bottom: size('lg') !important;
}

.u-mb-vb {
  margin-bottom: size('xl') !important;
}

.u-mb-hg {
  margin-bottom: size('hg') !important;
}

.u-mb-vh {
  margin-bottom: size('xh') !important;
}

//Ellipse

/* ANIMATIONS */
.u-anim-mil {
  animation: moveInLeft 2s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.u-anim-mir {
  animation: moveInRight 2s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.u-anim-mib {
  animation: moveInBottom 1.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
