.u-dp-none {
  display: none !important;
}

.u-op--0 {
  opacity: 0 !important;
}

.u-op--1 {
  opacity: 1 !important;
}

.u-sc-x--0 {
  transform: scaleX(0) !important;
}

.u-sc-x--1 {
  transform: scaleX(1) !important;
}

.u-sc-y--0 {
  transform: scaleY(0) !important;
}

.u-sc-y--1 {
  transform: scaleY(1) !important;
}

.u-bg-tp {
  background-color: transparent !important;
}

/* Width */

.u-w-100 {
  width: 100% !important;
}

/* Height */

.u-h-md {
  height: 8rem !important;
}

.u-h-50 {
  height: 50%;
}

/* Positionning */
.u-jc-en {
  justify-content: flex-end !important;
}

.u-align-self-stretch {
  align-self: stretch !important;
}

.u-align-self-start {
  align-self: flex-start !important;
}

.u-align-self-end {
  align-self: flex-end !important;
}

/* Grid */
.u-row-span-2 {
  grid-row: span 2;
}

.u-row-span-3 {
  grid-row: span 3;
}

/* TEXT  */

.u-tx--c {
  text-align: center !important;
}

.u-tx--l {
  text-align: left !important;
}

.u-tx--r {
  text-align: right !important;
}

// Delay
