.nav {
  &--panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 9999;

    &.m-primary {
      .nav__action--1 {
        &:hover,
        &.active {
          color: color('font-primary');
        }
      }
    }

    .nav__actions {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
      grid-gap: 2rem;
      width: 80%;
      margin: auto;
      margin-top: 10rem;

      .nav-action--1 {
        font-weight: bold;
      }
    }

    .nav__close-cta {
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 15%;
      height: 10vmin;
      color: currentColor;
    }
  }

  &--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include size(100%);

    .nav__action--1 {
      border-bottom: 3px solid transparent;

      &:hover,
      &.active {
        border-bottom: 3px solid currentColor;
      }
    }

    &.m-primary {
      .nav__action--1 {
        &:hover,
        &.active {
          color: color('font-primary');
        }
      }

      .nav__action--2 {
        &:hover,
        &.active {
          background-color: color('primary-dark');
        }
      }
    }

    &.m-primary--reverse {
      .nav__action--1 {
        &:hover,
        &.active {
          color: color('primary');
        }
      }

      .nav__action--2 {
        &:hover,
        &.active {
          background-color: color('primary');
          color: color('font-primary');
        }
      }
    }

    &--primary--reverse {
      .nav__action--1 {
        &:hover,
        &.active {
          color: color('primary');
        }
      }

      .nav__action--2 {
        &:hover,
        &.active {
          background-color: color('primary');
          color: color('font-primary');
        }
      }
    }

    &--vertical {
      flex-direction: column;

      .nav__actions {
        flex-direction: column;
      }
    }

    &__actions {
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__action {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      border-color: currentColor;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &__search {
      flex: 0 0 40%;

      @include flex-center;
    }

    .nav__logo {
      @include flex-center;
      flex: 0 0 15%;

      @include respond-to('large') {
        flex: 0 0 5%;
      }

      // .logo {
      //   @include respond-to('large') {
      //     // @include size(8rem);
      //     width: 100%;
      //   }
      // }
    }

    .nav__show-cta {
      flex: 0 0 15%;

      @include respond-to('large') {
        //@include size(5rem);
        flex: 0 0 5%;
      }
    }
  }
}
