.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include size(100%);

  .nav__action--1 {
    border-bottom: 3px solid transparent;

    &:hover,
    &.active {
      border-bottom: 3px solid currentColor;
    }
  }

  &.m-primary {
    .nav__action--1 {
      &:hover,
      &.active {
        color: color('font-primary');
      }
    }

    .nav__action--2 {
      &:hover,
      &.active {
        background-color: color('primary-dark');
      }
    }
  }

  &.m-primary--reverse {
    .nav__action--1 {
      &:hover,
      &.active {
        color: color('primary');
      }
    }

    .nav__action--2 {
      &:hover,
      &.active {
        background-color: color('primary');
        color: color('font-primary');
      }
    }
  }

  &--primary--reverse {
    .nav__action--1 {
      &:hover,
      &.active {
        color: color('primary');
      }
    }

    .nav__action--2 {
      &:hover,
      &.active {
        background-color: color('primary');
        color: color('font-primary');
      }
    }
  }

  &--vertical {
    flex-direction: column;

    .nav__actions {
      flex-direction: column;
    }
  }

  &__actions {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-color: currentColor;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__search {
    flex: 0 0 40%;

    @include flex-center;
  }

  &__logo {
    @include flex-center;
    // position: absolute;
    // top: 4rem;
    // left: 4rem;

    @include respond-to('large') {
    }

    .logo {
      @include respond-to('large') {
        // @include size(8rem);
        height: 3.5rem;
      }
    }
  }
}
