/* Shadows */

$shadow-black-tiny: 0 0.5rem 1rem transparentize(color('black'), 0.8);
$shadow-black-small: 0 1rem 2rem transparentize(color('black'), 0.8);
$shadow-black-medium: 0 2rem 4rem transparentize(color('black'), 0.8);
