/*
By Xavier 'Blueheim' Deroeux
*/

// DEFAULT THEME

// COLORS

// Best practices:
// Prefer HSL definition then RGB
// Use mix instead of darken and lighten

/* Theme Color Scheme */
$weight-1: 10% !default;
$weight-2: 20% !default;
$weight-3: 30% !default;

$white: #fffff8 !default; // hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 0%) !default;

$blue: hsl(279, 88, 68) !default;
$blue-light: tint($blue, $weight-2) !default;
$blue-dark: shade($blue, $weight-2) !default;

$orange: hsl(248, 69, 69) !default;
$orange-light: tint($orange, $weight-2) !default;
$orange-dark: shade($orange, $weight-2) !default;

$purple: #f66456 !default;
$purple-light: tint($purple, $weight-2) !default;
$purple-dark: shade($purple, $weight-2) !default;

$valid: #2ecc71 !default;
$valid-light: tint($valid, $weight-2) !default;
$valid-dark: shade($valid, $weight-2) !default;

$invalid: #e74c3c !default;
$invalid-light: tint($invalid, $weight-2) !default;
$invalid-dark: shade($invalid, $weight-2) !default;

$info: #3498db !default;
$info-light: tint($info, $weight-2) !default;
$info-dark: shade($info, $weight-2) !default;

$alert: #f39c12 !default;
$alert-light: tint($alert, $weight-2) !default;
$alert-dark: shade($alert, $weight-2) !default;

//#B82B28

//D2DDE3

/* Grey Color Scheme */
//$grey: #777 !default;

$grey-light-1: #faf9f9 !default;
$grey-light-2: #f4f2f2 !default;
$grey-light-3: #f0eeee !default;

$grey-dark-1: #333 !default;
$grey-dark-2: #777 !default;
$grey-dark-3: #999 !default;

/* FONTS */
$lato: 'Lato', sans-serif !default;

$colors: (
  'white': $white,
  'black': $black,
  // PRIMARY
    'primary': $blue,
  'primary-light': $blue-light,
  'primary-dark': $blue-dark,
  'font-primary': $white,
  'font-primary-light': $grey-dark-3,
  'font-primary-dark': $grey-dark-3,
  // SECONDARY
    'secondary': $orange,
  'secondary-light': $orange-light,
  'secondary-dark': $orange-dark,
  'font-secondary': $white,
  'font-secondary-light': $grey-dark-3,
  'font-secondary-dark': $grey-dark-3,
  // TERTIARY
    'tertiary': $purple,
  'tertiary-light': $purple-light,
  'tertiary-dark': $purple-dark,
  'font-tertiary': $white,
  'font-tertiary-light': $grey-dark-3,
  'font-tertiary-dark': $grey-dark-3,
  //VALID
    'valid': $valid,
  'valid-light': $valid-light,
  'valid-dark': $valid-dark,
  'font-valid': $white,
  'font-valid-light': $white,
  'font-valid-dark': $white,
  // INVALID
    'invalid': $invalid,
  'invalid-light': $invalid-light,
  'invalid-dark': $invalid-dark,
  'font-invalid': $white,
  'font-invalid-light': $white,
  'font-invalid-dark': $white,
  // INFO
    'info': $info,
  'info-light': $info-light,
  'info-dark': $info-dark,
  'font-info': $white,
  'font-info-light': $white,
  'font-info-dark': $white,
  // ALERT
    'alert': $alert,
  'alert-light': $alert-light,
  'alert-dark': $alert-dark,
  'font-alert': $white,
  'font-alert-light': $white,
  'font-alert-dark': $white,
  // GREY
    'grey-light-1': $grey-light-1,
  'grey-light-2': $grey-light-2,
  'grey-light-3': $grey-light-3,
  'grey-dark-1': $grey-dark-1,
  'grey-dark-2': $grey-dark-2,
  'grey-dark-3': $grey-dark-3,
  'font-default': $grey-dark-3,
  'font-title-header': $white,
  'font-subtitle-header': $white,
  'font-nav': $white,
  'font-title-primary': $grey-dark-3,
  'font-title-secondary': $grey-dark-3,
  'font-title-tertiary': $grey-dark-3,
) !default;

$fonts: (
  'primary': $lato,
  'secondary': $lato,
) !default;
