/*
By Xavier 'Blueheim' Deroeux
*/

$themes: 'primary', 'secondary', 'tertiary', 'valid', 'invalid', 'info', 'alert' !default;

// 1rem settings

//1rem = 8px, 8/16 = 50%
$size-percent-small: 50% !default;

// 1rem = 10px; 10px/16px = 62.5%
$size-percent-default: 62.5% !default;

//1rem = 12px, 12/16 = 75%
$size-percent-big: 75% !default;

/* SIZES */
$sizes: (
  'xt': 1rem,
  // Very tiny
    'ty': 1.6rem,
  // Tiny
    'xs': 2rem,
  // Very small
    'sm': 2.5rem,
  // Small
    'md': 3rem,
  // Medium
    'lg': 3.5rem,
  // Large
    'xl': 4rem,
  // Very big
    'hg': 5rem,
  // Huge
    'xh': 6rem,
  // Very huge,,,,,,,,,,,,,,
) !default;

/* GRID */

$globalbar-width: 20% !default;
$navbar-height: 10vmin !default;
$content-margin: 2.5rem !default;

/* BREAKPOINTS */
$breakpoints: (
  //600px
    'tiny': 37.5em,
  //800px
    'small': 50em,
  //1000px
    'medium': 62.5em,
  //1200px
    'large': 75em,
  //1800px,
    'huge': 112.5em
) !default;

/* Effects */
$transition-duration: 0.2s !default;
$translate-y-1: -10% !default;
$translate-y-2: -20% !default;

$scales: (
  '1': 1.1,
  '2': 1.2,
  '3': 1.3,
  '4': 1.4,
  '5': 1.5,
  '6': 1.6,
  '7': 1.7,
  '8': 1.8,
  '9': 1.9,
  '10': 2,
) !default;

$delays: (
  '1': 1.1s,
  '2': 1.2s,
  '3': 1.3s,
  '4': 1.4s,
  '5': 1.5s,
  '6': 1.6s,
  '7': 1.7s,
  '8': 1.8s,
  '9': 1.9s,
  '10': 2s,
) !default;

$durations: (
  '1': 1.1s,
  '2': 1.2s,
  '3': 1.3s,
  '4': 1.4s,
  '5': 1.5s,
  '6': 1.6s,
  '7': 1.7s,
  '8': 1.8s,
  '9': 1.9s,
  '10': 2s,
) !default;

$rounded-div: 2;
