/*
By Xavier 'Blueheim' Deroeux
*/

$themes: 'primary', 'secondary', 'tertiary', 'valid', 'invalid', 'info', 'alert' !default;

/* SIZES */
$sizes: (
  'xt': 1rem,
  // Very tiny
    'ty': 1.6rem,
  // Tiny
    'xs': 2rem,
  // Very small
    'sm': 2.5rem,
  // Small
    'md': 3rem,
  // Medium
    'lg': 3.5rem,
  // Large
    'xl': 4rem,
  // Very big
    'hg': 5rem,
  // Huge
    'xh': 6rem,
  // Very huge
) !default;

/* GRID */

$globalbar-width: 20% !default;
$navbar-height: 10vh !default;
$content-margin: 2.5rem !default;

// 1rem settings

$root-sizes: (
  //1rem = 6px, 6/16 = 37.5%
    'tiny': 37.5%,
  //1rem = 8px, 8/16 = 50%
    'small': 50%,
  // 1rem = 10px; 10px/16px = 62.5%
    'medium': 62.5%,
  //1rem = 12px, 12/16 = 75%
    'large': 75%,
  //1rem = 14px, 14/16 = 87.5%
    'huge': 87.5%
) !default;

/* BREAKPOINTS */
$breakpoints: (
  'zero': 0em,
  //600px
    'tiny': 37.5em,
  //800px
    'small': 50em,
  //1000px
    'medium': 62.5em,
  //1200px
    'large': 75em,
  //1800px,
    'huge': 112.5em,
) !default;

/* Effects */
// $transition-duration: 0.2s !default;
// $translate-y-1: -10% !default;
// $translate-y-2: -20% !default;

$scales: (
  '1': 1.1,
  '2': 1.2,
  '3': 1.3,
  '4': 1.4,
  '5': 1.5,
  '6': 1.6,
  '7': 1.7,
  '8': 1.8,
  '9': 1.9,
  '10': 2,
) !default;

$delays: (
  '1': 1.1s,
  '2': 1.2s,
  '3': 1.3s,
  '4': 1.4s,
  '5': 1.5s,
  '6': 1.6s,
  '7': 1.7s,
  '8': 1.8s,
  '9': 1.9s,
  '10': 2s,
) !default;

$durations: (
  '1': 1.1s,
  '2': 1.2s,
  '3': 1.3s,
  '4': 1.4s,
  '5': 1.5s,
  '6': 1.6s,
  '7': 1.7s,
  '8': 1.8s,
  '9': 1.9s,
  '10': 2s,
) !default;

$rounded-div: 3;
$shadow-div: 2;

$origins: (
  'l': left,
  'r': right,
  'c': center,
  't': top,
  'b': bottom,
  'tl': top left,
  'tr': top right,
  'bl': bottom left,
  'br': bottom right,
);

$transforms: (
  '-sc': (
    '-x': (
      '-0': scaleX(0),
      '-1': scaleX(1)
    ),
    '-y': (
      '-0': scaleY(0),
      '-1': scaleY(1)
    ),
    '': (
      '-0': scale(0, 0),
      '-1': scale(1, 1)
    )
  ),
  '-ts': (
    '-x': (
      '-0': (
        '': translateX(0)
      ),
      '-50': (
        '-rv': translateX(-50%),
        '': translateX(50%)
      ),
      '-70': (
        '-rv': translateX(-70%),
        '': translateX(70%)
      ),
      '-80': (
        '-rv': translateX(-80%),
        '': translateX(80%)
      ),
      '-90': (
        '-rv': translateX(-90%),
        '': translateX(90%)
      ),
      '-100': (
        '-rv': translateX(-100%),
        '': translateX(100%)
      ),
    ),
    '-y': (
      '-0': (
        '': translateY(0)
      ),
      '-50': (
        '-rv': translateY(-50%),
        '': translateY(50%)
      ),
      '-70': (
        '-rv': translateY(-70%),
        '': translateY(70%)
      ),
      '-80': (
        '-rv': translateY(-80%),
        '': translateY(80%)
      ),
      '-90': (
        '-rv': translateY(-90%),
        '': translateY(90%)
      ),
      '-100': (
        '-rv': translateY(-100%),
        '': translateY(100%)
      ),
    ),
    '': (
      '-0': (
        '': translate(0, 0)
      ),
      '-50': (
        '-rv': translate(-50%, -50%),
        '': translate(50%,50%)
      ),
      '-70': (
        '-rv': translate(-70%,-70%),
        '': translate(70%,70%)
      ),
      '-80': (
        '-rv': translate(-80%,-80%),
        '': translate(80%,80%)
      ),
      '-90': (
        '-rv': translate(-90%,-90%),
        '': translate(90%,90%)
      ),
      '-100': (
        '-rv': translate(-100%,-100%),
        '': translate(100%,100%),
    )
  ),
  ),
  '-sk': (
    '-x': (
      '-0': (
        '': skewX(0)
      ),
      '-50': (
        '-rv': skewX(-50deg),
        '': skewX(50deg)
      ),
      '-70': (
        '-rv':  skewX(-70deg),
        '':  skewX(70deg)
      ),
      '-80': (
        '-rv':  skewX(-80deg),
        '':  skewX(80deg)
      ),
      '-90': (
        '-rv':  skewX(-90deg),
        '':  skewX(90deg)
      ),
      '-100': (
        '-rv':  skewX(-100deg),
        '':  skewX(100deg)
      ),
    ),
    '-y': (
      '-0': (
        '':  skewY(0)
      ),
      '-50': (
        '-rv':  skewY(-50deg),
        '':  skewY(50deg)
      ),
      '-70': (
        '-rv':  skewY(-70deg),
        '':  skewY(70deg)
      ),
      '-80': (
        '-rv':  skewY(-80deg),
        '':  skewY(80deg)
      ),
      '-90': (
        '-rv':  skewY(-90deg),
        '':  skewY(90deg)
      ),
      '-100': (
        '-rv':  skewY(-100deg),
        '':  skewY(100deg)
      ),
    ),
    '': (
      '-0': (
        '':  skew(0, 0)
      ),
      '-50': (
        '-rv':  skew(-50deg, -50deg),
        '':  skew(50deg,50deg)
      ),
      '-70': (
        '-rv':  skew(-70deg,-70deg),
        '':  skew(70deg,70deg)
      ),
      '-80': (
        '-rv': skew(-80deg,-80deg),
        '': skew(80deg,80deg)
      ),
      '-90': (
        '-rv':  skew(-90deg,-90deg),
        '':  skew(90deg,90deg)
      ),
      '-100': (
        '-rv':  skew(-100deg,-100deg),
        '':  skew(100deg,100deg),
    )
  ),
  ),
);